body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0px;
  padding: 0px;
}

#layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 1vw;
  overflow-y: hidden;
}

@media (max-width: 700px) {
  #layout {
    padding: 0 5vw;
  }
}

#header {
  height: 8vh;
  font-size: 50px;
  text-align: center;
}

@media (max-width: 700px) {
  #header {
    font-size: 26px;
    height: 5vh;
  }
}

#messages {
  font-size: 26px;
  height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1.5px solid rgb(94, 94, 94);
  border-radius: 0.5vh;
  padding: 2vh;
  margin-bottom: 1vh;
}

@media (max-width: 700px) {
  #messages {
    height: 70vh;
  }
}

#new-message {
  height: 11vh;
}

#message-label {
  font-size: 16px;
  margin-bottom: 10px;
}

#message-form {
  display: flex;
  flex-direction: row;
}

#message-input {
  height: auto;
  width: 100%;
  border: 1.5px solid rgb(94, 94, 94);
  border-radius: 4px;
  margin-right: 0.5vw;
  font-size: 26px;
}

#message-btn {
  border: 1.5px solid #007bff;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
}